.body-item{
    margin-top: 60px;
}

.card-item{
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.card-item:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



.card-image{
    width: 150px;
}